#carouselExampleControls {
  display: flex;
  margin: auto;
  padding: 25px;
  max-width: 80%;
  min-width: 70%;
  max-height: 75%; }

.background-formulario {
  display: flex;
  margin: auto;
  max-width: 90%;
  min-width: 80%;
  max-height: 75%; }

.cuerpo-formulario {
  padding: 5%;
  width: 85%;
  font-family: 'Lato', sans-serif; }

.imagen-contacto :hover {
  filter: sepia(40%); }

nav div a img {
  width: 60px; }

.logo-menu {
  display: flex;
  justify-content: center; }

.menu-principal ul :hover {
  background-color: #F8D313; }

.panel button {
  border: none; }

.panel button :hover {
  color: #DB7696;
  text-transform: capitalize; }

@media screen and (max-width: 991px) {
  nav div a img {
    width: 100px;
    display: flex;
    margin: auto; } }

.main-principal {
  background-color: #dbcece; }

* {
  margin: 0;
  padding: 0; }
